<launch>
  <arg name="view" default="true"/>
  <arg name="camera_name" default="boson"/>
  <arg name="const_norm" default="true"/>

  <param name="$(arg camera_name)/image_raw_raw/compressed/format" value="png"/>
  <param name="$(arg camera_name)/image_raw_raw/compressed/png_level" value="5"/>
  <node name="thermal_node" pkg="cv_camera" type="cv_camera_node" output="screen">
    <!-- outputs -->
    <remap from="$(arg camera_name)/image_raw" to="$(arg camera_name)/image_raw_raw"/>

    <!-- params -->
    <param name="frame_id" value="$(arg camera_name)_frame"/>
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="camera_info_url" value="package://contactdb_utils/calibrations/$(arg camera_name).yaml"/>
    <!-- FLIR Boson has a Y16 format which outputs raw 16 bit pixel values -->
    <!-- Generated using cv2.VideoWriter_fourcc('Y', '1', '6', ' ') -->
    <param name="cv_cap_prop_fourcc" value="540422489"/>
    <param name="cv_cap_prop_convert_rgb" value="0"/>
    <param name="cv_cap_prop_fps" value="60"/>
  </node>

  <include file="$(find contactdb_utils)/launch/thermal_proc.launch"
           ns="$(arg camera_name)">
    <arg name="const_norm" value="$(arg const_norm)"/>
  </include>

  <group if="$(arg view)">
    <node name="thermal_viewer" pkg="image_view" type="image_view"
          ns="$(arg camera_name)" output="screen" args="compressed">
      <remap from="image" to="image_rect"/>
    </node>
  </group>

</launch>
